Sign in:
	inputs:
		username +
		password +
Sign up:
	inputs:
		username +
		password +
		password confirm +
		admin key +
actions:
	password confirm +
	check admin key for admin panel access +
	change password +
	available inputs value:
		minimum 8 character for username +
		minimum 8 character for password +
	create user +
	write new user database +
	read users from database +
	

admin panel:
	admin can see all users+
	can delete users+
	can add users+
User class:
	User verification +
	User add +
	User exist +

	
	